Source: python-django-mptt
Section: python
Priority: extra
Maintainer: Anton Volozhanin <zzzombat@gmail.com>
Uploaders: Anton Volozhanin <zzzombat@gmail.com>
Build-Depends:
  cdbs,
  debhelper (>= 7),
  python-support,
  python,
  python-all-dev (>= 2.5),
  python-setuptools
Standards-Version: 3.8.4

Package: python-django-mptt
Architecture: all
Depends:
  ${shlibs:Depends},
  ${misc:Depends},
  python,
  python-django (>= 1.4.1)
Description: Utilities for implementing Modified Preorder Tree Traversal with your Django Models
 and working with trees of Model instances.
 Github <https://github.com/django-mptt/django-mptt/>
